<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dictionary
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showHistory()">History</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input placeholder="Enter a word" [(ngModel)]="searchTerm"></ion-input>
  </ion-item>
  <ion-button (click)="searchWord()">Search</ion-button>

  <div *ngIf="wordDef">
    <h2>{{ wordDef.word }}</h2>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
    <ion-card *ngIf="wordPron.pronunciation">
      <ion-card-header>
        <ion-card-title>Pronunciation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>[{{ getObjectValues(wordPron.pronunciation).join('], [') }}]</p>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col size="12" size-md="6">
    <ion-card *ngIf="also && also.also && also.also.length > 0">
      <ion-card-header>
        <ion-card-title>Also</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ also.also.join(', ') }}</p>
      </ion-card-content>
      
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Definitions</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let definition of wordDef.definitions; let i = index">
          <p>{{ i + 1 }}. <i>{{ definition.partOfSpeech }}</i>, {{ definition.definition }}</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Examples of usage</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let example of example.examples; let i = index">
          <p>{{ i + 1 }}. {{ example }}</p>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

</ion-content>